/* Default Fonts */
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

/* Default styles */
:root{
    --color-pancho: #E2B48E;
    --color-crusta: #ED8856;
    --color-twine: #BE8252;
    --color-hemlock: #6E6D49;
    --color-camouflage-green: #788568;
    --color-gray: #605C59;
}

body{
    padding-left: 170px;
    padding-right: 170px;
}

/* ########## HEADER ######### */
.header{
    height: 70px;
    display: grid;
    align-content: center;
}

/* logo */
#logo{
    display: flex;
    align-items: center;
}

#logo h5{
    font-size: 24px;
    color: var(--color-crusta);
    font-weight: bold;
}

/* menu */
#menu{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    color: var(--color-pancho);
}

#menu li{
    cursor: pointer;
}

#menu li:hover{
    border-bottom: var(--color-crusta) solid 2px;
}

/* ###### BODY ###### */
.body{
    margin-top: 100px;
}

#heading{
    color: var(--color-crusta);
    text-align: center;
    font-size: 48px;
}

/* content */
.content{
    margin-top: 100px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 200px;
}

/* form */
.form{
    margin: 0 !important;
    padding: 0;
}

/* image and radio container */
.img-container{
    padding: 0;
}

/* calculate */
.calculate{
    margin-top: 20px;
    padding: 0;
}

/* amount */
#amount{
    width: 100%;
    height: 60px;
    border-radius: 8px;
    border-style: solid;
    border-color: var(--color-hemlock);
    color: var(--color-hemlock);
    font-size: 24px;
}

#amount:focus{
    outline: none;
}

/* calculate button */
.btn-calculate{
    width: 100%;
    height: 60px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--color-twine);
    color: white;
}

.btn-checkout{
    width: 50%;
    height: 60px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--color-crusta);
    color: white;
    display: none;
}

.btn-calculate:hover{
    color: white;
    background-color: var(--color-crusta);
}

.btn-checkout:hover{
    color: white;
    background-color: var(--color-twine);
}

/* radio label */
.radio-label{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
}

label:first-child input[type=radio] {
    width: 43px;
    height: 43px;
}

#yes{
    font-size: 48px;
    color: var(--color-hemlock);
}

#no{
    font-size: 48px;
    color: var(--color-crusta);
    margin-top: -20px;
}

/* paragraph */
#paragraph{
    font-size: 18px;
    color: var(--color-gray);
}

/* form label */
.form-label{
    color: var(--color-hemlock);
}

/* quote card */
.quote-card{
    background-color: var(--color-camouflage-green);
    color: white;
    font-size: 36px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

