/* Default Fonts */
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

/* Default styles */
:root{
    --color-pancho: #E2B48E;
    --color-crusta: #ED8856;
    --color-twine: #BE8252;
    --color-hemlock: #6E6D49;
    --color-camouflage-green: #788568;
    --color-gray: #605C59;
}

body{
    padding-left: 170px;
    padding-right: 170px;
}

/* ########## HEADER ######### */
.header{
    height: 70px;
    display: grid;
    align-content: center;
}

/* logo */
#logo{
    display: flex;
    align-items: center;
}

#logo h5{
    font-size: 24px;
    color: var(--color-crusta);
    font-weight: bold;
}

/* menu */
#menu{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    color: var(--color-pancho);
}

#menu li{
    cursor: pointer;
}

#menu li:hover{
    border-bottom: var(--color-crusta) solid 2px;
}

/* ###### BODY ###### */
.body{
    margin-top: 100px;
}

#heading{
    color: var(--color-crusta);
    text-align: center;
    font-size: 48px;
}

/* content */
.content{
    margin-top: 100px;
}