/* Default Fonts */
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

/* Default styles */
:root {
    --color-pancho: #E2B48E;
    --color-crusta: #ED8856;
    --color-twine: #BE8252;
    --color-hemlock: #6E6D49;
    --color-camouflage-green: #788568;
    --color-gray: #605C59;
}

body {
    padding-left: 170px;
    padding-right: 170px;
}

/* ########## HEADER ######### */
.header {
    height: 70px;
    display: grid;
    align-content: center;
}

/* logo */
#logo {
    display: flex;
    align-items: center;
}

#logo h5 {
    font-size: 24px;
    color: var(--color-crusta);
    font-weight: bold;
}

/* menu */
#menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    color: var(--color-pancho);
}

#menu li {
    cursor: pointer;
}

#menu li:hover {
    border-bottom: var(--color-crusta) solid 2px;
}

#heading {
    margin-top: 100px;
    text-align: center;
    font-size: 48px;
    color: var(--color-hemlock)
}

.frame1 {
    width: 350px;
    height: 350px;

}

.gallery {
    margin: 50px;
    margin-top: 250px;
    margin-left: 150px;
    align-items: center;
    /* border: 1px solid #ccc; */
    float: left;
    width: 280px;

}

div.gallery:hover {
    border: 5px solid rgb(255, 255, 255);

}

div.gallery img {
    width: 100%;
    height: 100%;

}

.first-column,
.second-column {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    justify-content: center;
}

.second-column {
    margin-top: 150px;
}

.frame1 {
    width: 250px;
    height: 353px;
    background-image: url("frame-images/frame1.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.frame2 {
    width: 250px;
    height: 185px;
    background-image: url("frame-images/frame2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.frame3 {
    width: 250px;
    height: 245px;
    background-image: url("frame-images/frame3.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.frame4 {
    width: 250px;
    height: 245px;
    background-image: url("frame-images/frame4.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.frame1 {
    width: 250px;
    height: 353px;
    background-image: url("frame-images/frame1.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.frame2 {
    width: 250px;
    height: 185px;
    background-image: url("frame-images/frame2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.frame3 {
    width: 250px;
    height: 245px;
    background-image: url("frame-images/frame3.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.frame4 {
    width: 250px;
    height: 245px;
    background-image: url("frame-images/frame4.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-frame1 {
    width: 100%;
    background-color: var(--color-hemlock);
    margin-top: 10px;
    height: 60px;
    color: white;
    border-radius: 8px;

}

.btn-frame1:hover {
    color: white;
    background-color: var(--color-crusta);
}

/* div.desc {
  padding: 5px;
  text-align: center;
  background-color:#66625f;
  margin-top: 40px;
  color: white
;
;
} */